<div class="col-sm-6 col-md-4" class="news_card" ng-controller="ChannelsController as cc">
    <div class="thumbnail a-card">
      <div class="caption">
        	<h6> {{t.name}}</h6>
        	<p>{{t.category}}</p>
        	<button ng-hide="isChannel(t.name)" class="btn btn-lg btn-block btn-primary" ng-click="addChannel(t.name)">Add Channel</button> 
        	<button ng-show="isChannel(t.name)" class="btn btn-block btn-lg btn-danger" ng-click="deleteChannel(t.name)">Delete Channel</button>
      	</div>
    </div>
</div>