<nav class=" navbar navbar-inverse navbar-embossed" ng-controller="AuthController as auth">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#/Home">Newsify</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right" ng-show="checkLoginStatus()">
        <li><a href="#/Home">Home</a></li>
        <li><a href="#/Channels">Channels</a></li>
        <li><a href="#/Logout">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>

