 <div class="container" ng-controller="AuthController as auth">

      <form class="form-signin">
      	<div class="alert alert-danger" role="alert" ng-show="showError"> Wrong username or password!</div>
        <h3 class="form-signin-heading">Please sign in</h3><br>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="text" id="inputUsername" class="form-control" placeholder="Username" ng-model="auth.username" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" ng-model="auth.password" required>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" ng-click="checkAuthentication(auth.username,auth.password)">Sign in</button>
      </form>



    </div> <!-- /container -->