
<!-- BEGIN: Template for User. -->
<div class="news_card">
  <div class="thumbnail a-card">
  		<!-- <img ng-src="{{card.image}}" alt="..."> -->
        <div class="caption">
        	<p><b> {{card.title}}</b></p>
        	<small>{{card.contentSnippet}} </small>
        	<p><a href="{{card.link}}" target="_blank" class="btn btn-lg btn-block btn-info" role="button">Read More</a> </p>
        	<p class="label btn-block btn-success news_channel_name"> {{card.channelName}}</p>
      	</div>
   </div>
</div>
<!-- END: Template for User. -->
 
